@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
    background: url(../bg.jpeg.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
border: 2px solid rgb(255, 255, 255);
position: absolute;
top: 5%;
left: 35%;
width: 30%;
height: 90%;
background-color: white;
border-radius: 8px;

}
.container h1{
    /* border-bottom:  2px solid rgb(39, 3, 157); */
    margin-bottom: 35px;
    text-align: center;
    padding-top: 20px;
}
.inputs{
    /* border: 2px solid rgba(111, 6, 117, 0.842); */
    border-bottom: 2px solid rgba(247, 219, 118, 0.686);
    width: 75%;
    margin-left: 55px;
    /* padding-left: 25px ; */
    
}
.inputs input{
    width: 50%;
    border:none ;
    outline: none;
    border: none;
    font-size: 14px;
    
}
.fgtpass{
    float: right;
    margin: 10px;
    margin-right: 59px;
    padding-top: 4px;
    text-decoration: none;
    color: rgb(149, 117, 0);
}
#Email{
   margin-bottom: 12px;
   padding-top: 10px; 
}
.btn{
    display: block;
    margin: auto;
    position: relative;
    top: 10px;
    width: 75%;
    border-radius: 25px;
    border: none;
    padding: 8px;
    cursor: pointer;
    background: url(../bg.jpeg.jpg) no-repeat center center fixed;
    background-size: cover;
}
.text{
    padding: 8px;
    margin-left: 50px;
    margin-top: 8px;
}
#pass{
    margin-top: 10px;
    padding-bottom: 11px;

}
#Password{
    margin-bottom: 12px;
}
#user{
    padding-bottom: 11px; ;
}
.para{
    position: relative;
    top: 50px;
    left: 4cm;
    padding-left: 25px;
}
.signup{
    position: relative;
    top: 105px;
    left: 4cm;
    padding-left: 4px;
}
.sign{
    position: relative;
    top: 115px;
    left: 4cm;
    padding: 7px;
    width: 25%;
    margin-left: 29px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: url(../bg.jpeg.jpg) no-repeat center center fixed;
    background-size: cover;
}
.boticon{
    position: relative;
    left: 4.5cm;
    top: 1.7cm;
    font-size: 32px;
    padding: 5px;


}
#facebook{
    color: rgb(63, 63, 213);
}
#twitter{
color: rgb(21, 109, 181);
}
#google{
color: rgb(203, 51, 51);
}

